.cover__bg {
    opacity:0.3;
    border-radius: 5px;
    width: 1184px;
    height: 594px;
    position:absolute;
    top: 0;
    left: 0;
    z-index:-1;
}

.cover:hover .cover__bg{
    opacity:0.8;
}