@import url('/blocks/header/__lang/header__lang.css');

.header {
    width: 1184px;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 30px; 
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

.logo {
    width: 176.58px;
    height: 52px;
}

