.video__item-bg {
    opacity:0.5;
    background-size: contain;
    background:  #000000 no-repeat center;
    border-radius: 5px;
    width: 583px;
    height: 323px;
    position:absolute;
    top: 0;
    left: 0;
    z-index:-1;
}

.video__item:hover .video__item-bg{
    opacity:0.8;
}
