.additional__item-bg {
    opacity:0.5;
    background-size: contain;
    background:  #000000 no-repeat center;
    border-radius: 5px;
    width: 284px;
    height: 330px;
    position:absolute;
    top: 0;
    left: 0;
    z-index:-1;
}